.selected {
  background-color: pink;
}

.container {
  text-align: center;
  margin: auto;
  margin-top: 10ch;
  padding-bottom: 12ch;
  height: 300px;
}
.question-container {
  font-weight: bold;
}
.answer-container {
  width: 50%;
  margin: auto;
}
.answers {
  display: inline-block;
  width: 30%;
  border: 2px solid black;
  margin: 5ch;
}
.score-final {
  font-size: large;
  text-align: center;
}
#next {
  position: relative;
  left: 50%;
  font-size: large;
}

.welcome-container{
  text-align: center;
  padding: 2ch;

}
#start{
  border: 2px solid purple;
  padding: 2ch;
text-decoration: none;
border-radius: 2ch;

  /* position: absolute;
  right: 60px;
  top:60% */
}
.welcome-title{
  margin-bottom: 20ch;
}


.base-timer {
  position: relative;
  height: 100px;
  width: 100px;
  visibility: hidden;
 
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  
  /* Size should match the parent container */
  width: 100px;
  height: 100px;
  
  /* Keep the label aligned to the top */
  top: 0;

  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 20px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}
#app{
  position: relative;
  left:90%;
  top:50px
}